<style>
        #st
        {
            font-family: "Agency FB";
            font-size: 30px;
            color: #2f2f9c;
        }

    </style>


    <table align="center" border="2" width="1000px">
    <tr>
        <th colspan="4">
            <h1 id="st">Student Page</h1>
        </th>

    </tr>
    <tr>
        <th><a href="{% url "student_register" %}">Register</a></th>
        <th><a href="{% url "student_login" %}">Login</a></th>
        <th>Search</th>
        <th>Contact Us</th>
    </tr>

    </table>
